@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  padding: 0px;
  margin: 0px;
}
body {
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.container {
  padding: 0px 50px;
}
/* section 1 */
.menubutton{
  letter-spacing: 3px;
  font-size: 20px;
  border: none;
  background: none;
  color: white;
}
.section1 {
  /* background-image: url("assets/images/section1.jpg"), linear-gradient(#eb01a5, #d13531); */
  height: 550px;
  background-image: linear-gradient(
      rgb(36, 41, 67, 0.85),
      rgb(36, 41, 67, 0.85)
    ),
    url("assets/images/section1.jpg");
    /* transition: 2s; */
}
/* .section1:hover {
  background-image: linear-gradient(
      rgb(36, 41, 67, 0.50),
      rgb(36, 41, 67, 0.50)
    ),
    url("assets/images/section1.jpg");
} */
.sec1h1 {
  padding: 200px 0px 20px 0px;
  font-size: 50px;
  border-bottom: 3px solid white;
  letter-spacing: 3px;
  /* margin: auto; */
}
.sec1p1 {
  width: 40%;
  word-spacing: 2px;
  letter-spacing: 1px;
  /* margin-right: 25px; */
}
.subsec1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px 0px 0px 0px;
}
.getstartbutton {
  /* margin-left: 30px; */
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 15px 25px;
  width: 20%;
}
.getstartbutton:hover {
  color: rgb(76, 131, 114);
  border-color: rgb(76, 131, 114);
  transition: transform 0.5s;
}
.space{
  margin-right: 5px;
}
/* section 2 */
.row {
  display: flex;
}
.column1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  height: 350px;
  background-image: url("assets/images/pic01.jpg");
}
.text1 {
  /* padding: 120px 0px 100px 40px; */
  width: max-content;
  border-bottom: 1px solid white;
  margin: 0px 40px;
  padding: 15px 0px;
}
.column2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  height: 350px;
  background-image: url("assets/images/pic02.jpg");
}
.text2 {
  /* padding: 120px 0px 100px 40px; */
  width: max-content;
  border-bottom: 1px solid white;
  margin: 0px 40px;
  padding: 15px 0px;
}
.column3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 350px;
  background-image: url("assets/images/pic03.jpg");
}
.text3 {
  /* padding: 120px 0px 100px 40px; */
  width: max-content;
  border-bottom: 1px solid white;
  margin: 0px 40px;
  padding: 15px 0px;
}
.column4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 350px;
  background-image: url("assets/images/pic04.jpg");
}
.text4 {
  /* padding: 120px 0px 100px 40px; */
  width: max-content;
  border-bottom: 1px solid white;
  margin: 0px 40px;
  padding: 15px 0px;
}
.column5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  height: 350px;
  background-image: url("assets/images/pic05.jpg");
}
.text5 {
  /* padding: 120px 0px 100px 40px; */
  width: max-content;
  border-bottom: 1px solid white;
  margin: 0px 40px;
  padding: 15px 0px;
}
.column6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  height: 350px;
  background-image: url("assets/images/pic06.jpg");
}
.text6 {
  /* padding: 120px 0px 100px 40px; */
  width: max-content;
  border-bottom: 1px solid white;
  margin: 0px 40px;
  padding: 15px 0px;
}
/* section 3 */
.section3 {
  background-color: #2c2a44;
  height: 400px;
  /* display : flex;
  flex-direction: column; */
}
.sec3h1 {
  width: max-content;
  border-bottom: 2px solid white;
  padding: 80px 0px 5px 0px;
  /* margin: auto; */
}
.sec3p1{
  margin: 50px 0px 50px 0px ;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 1.7;
}
/* section4  */
.section4{
  background-color: #232233;
  border-bottom: 1px solid rgb(122, 122, 122);
}
/* col1 */
.col1{
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 600px;
  border-right: 1px solid rgb(122, 122, 122);
}
.col1pad{
  padding: 70px 0px 50px 0px;
}
.col1box{
  background-color:#35344d ;
  border: none;
}
.dist{
  margin: 0px 0px 0px 70px;
}
.col1head{
  font-weight: 500;
  letter-spacing: 2px;
}
.col1input{
  height: 45px;
  margin-top: 20px;
  width: 300px;
  color: white;
}
.sec4button{
  margin-top: 35px;
}
.button1{
  color: #232233;
  border: none;
  padding: 15px 50px;
  margin-right: 30px;
  letter-spacing: 2px;
}
.button2{
  padding: 15px 40px;
  color: white;
  border-color: white;
  background-color:#232233 ;
  letter-spacing: 2px;
}
/* col2 */
.col2{
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 600px;
}
.subcol{
 margin-top: 40px;
}
.subcol1{
display: flex;
height: 200px;
border-bottom: 1px solid rgb(122, 122, 122);
}
.subcol2{
  display: flex;
  height: 200px;
  border-bottom: 1px solid rgb(122, 122, 122);
}
.subcol2sub{
  display: flex;
  flex-direction: column;
}
.marginsec4{
  margin-bottom: 20px;
}
.subcol3{
  display: flex;
  height: 200px;
}
.circle4 {
  border-radius: 200px;
  margin: 0px 25px 0px 0px;
  border: none;
  height: 35px;
  width: 35px;
  font-size: 20px;
  aspect-ratio: 1/1;
}
/* section 5 */
 .section5 {
  background-color: #232233;
  height: 200px;
 }
 .buttons{
  padding: 50px 0px 0px 0px;
 }
 .circle {
  border-radius: 200px;
  margin: 0px 5px;
  border: none;
  height: 35px;
  font-size: 20px;
  aspect-ratio: 1/1;
}
.menupage{
  top: 0;
  width: 100%;
  background-color: #2c2a44;
  height: 100vh;
  position: fixed; 
  opacity: 99%;
  visibility: hidden;
}
.buttonsec{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 0px;
}
.pagebutton{
  width: 25%;
  margin: 15px 0px;
  font-size: 15px ;
  padding-bottom: 15px ;
  border: none;
  border-bottom: 1px solid rgb(95, 91, 91);
  background: none;
  color: rgb(245, 239, 239);
  font-weight: 600;
  letter-spacing: 3px;
}
.getbutton{
  color: #232233;
  border: none;
  margin-top: 5px;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 15px 110px;
}
.logbutton{
  color: white;
  border-color: white;
  background-color: #2c2a44;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 15px 138px;
  margin-top: 25px;
}
.crossbutton{
  font-size: 20px;
  border: none;
  background: none;
  color: white;
  padding-top: 10px;
  float: right;
  position: absolute;
  right: 10px;
}