@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0px;
  margin: 0px;
}
body {
  color: white;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.container {
  padding: 0px 50px;
}
.section1 {
  /* background-image: url("assets/images/section1.jpg"), linear-gradient(#eb01a5, #d13531); */
  height: 550px;
  background-image: linear-gradient(
      rgb(36, 41, 67, 0.85),
      rgb(36, 41, 67, 0.85)
    ),
    url("assets/images/section1.jpg");
    /* transition: 2s; */
}
/* .section1:hover {
  background-image: linear-gradient(
      rgb(36, 41, 67, 0.50),
      rgb(36, 41, 67, 0.50)
    ),
    url("assets/images/section1.jpg");
} */
.sec1h1 {
  padding: 200px 0px 15px 0px;
  font-size: 50px;
  border-bottom: 3px solid white;
  /* margin: auto; */
}
.sec1p1 {
  width: 35%;
  /* margin-right: 25px; */
}
.subsec1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px 0px 0px 0px;
}
.getstartbutton {
  /* margin-left: 30px; */
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 15px 25px;
  width: 20%;
}
.getstartbutton:hover {
  color: rgb(76, 76, 192);
  border-color:  rgb(76, 76, 192);
  transition: transform 0.5s;
}
.space{
  margin-right: 5px;
}
/* section 2 */
.row {
  display: flex;
}
.column1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  height: 350px;
  background-image: url("assets/images/pic01.jpg");
}
.text1 {
  /* padding: 120px 0px 100px 40px; */
  width: max-content;
  border-bottom: 1px solid white;
  margin: 0px 40px;
  padding: 15px 0px;
}
.column2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  height: 350px;
  background-image: url("assets/images/pic02.jpg");
}
.text2 {
  /* padding: 120px 0px 100px 40px; */
  width: max-content;
  border-bottom: 1px solid white;
  margin: 0px 40px;
  padding: 15px 0px;
}
.column3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 350px;
  background-image: url("assets/images/pic03.jpg");
}
.column4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 350px;
  background-image: url("assets/images/pic04.jpg");
}
.column5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  height: 350px;
  background-image: url("assets/images/pic05.jpg");
}
.column6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  height: 350px;
  background-image: url("assets/images/pic06.jpg");
}
/* section 3 */
.section3 {
  background-color: #2c2a44;
  height: 400px;
  /* display : flex;
  flex-direction: column; */
}
.sec3h1 {
  width: max-content;
  border-bottom: 2px solid white;
  padding: 80px 0px 5px 0px;
  /* margin: auto; */
}
.sec3p1{
  margin: 50px 0px 50px 0px ;
}
/* section4  */
.section4{
  background-color: #232233;
  border-bottom: 1px solid rgb(122, 122, 122);
}
.col1{
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 600px;
  border-right: 1px solid rgb(122, 122, 122);
}
.col2{
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 600px;
}
.subcol{
 margin-top: 40px;
}
.subcol1{
display: flex;
height: 200px;
border-bottom: 1px solid rgb(122, 122, 122);
}
.subcol2{
  display: flex;
  height: 200px;
  border-bottom: 1px solid rgb(122, 122, 122);
}
.subcol2sub{
  display: flex;
  flex-direction: column;
}
.marginsec4{
  margin-bottom: 20px;
}
.subcol3{
  display: flex;
  height: 200px;
}
.circle4 {
  border-radius: 200px;
  margin: 0px 25px 0px 0px;
  border: none;
  height: 35px;
  width: 35px;
  font-size: 20px;
  aspect-ratio: 1/1;
}
/* section 5 */
 .section5 {
  background-color: #232233;
  height: 200px;
 }
 .buttons{
  padding: 50px 0px 0px 0px;
 }
 .circle {
  border-radius: 200px;
  margin: 0px 5px;
  border: none;
  height: 35px;
  font-size: 20px;
  aspect-ratio: 1/1;
}